*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
 
}
#page1{
    width: 100%;
        height: 100%;
        /* overflow: hidden; */
        background-color: #9CD6DD;
   
}
#page1 img{
    height: 100%;
    width: 20%;
    position: relative;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    
  }
  #name{
    display: flex;
    width: 100%;
    
    
  }
  #name h1{
    /* background-color: blueviolet; */
    position: absolute;
    margin-bottom: 80%;
    font-size: 39px;
    font-family: pp woodland;
    color: rgb(62, 61, 61);
    margin-left: 42%;
   
  }

#page2{
    height: 100%;
    width: 100%;
    background-color: #6E586A;
    padding: 2vw ;
    position:  relative;
}
#page2 h1{
    font-size: 5vw;
    text-align: center;
    color: #E3E3C4;
    font-family: PP woodland;
    font-weight: 100;
    line-height: 5vw;
    color: #434B34; 

}
#page2 h1 span{
    font-family: PP woodland;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: #E3E3C4;
}
