*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: lightcoral;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(205, 65, 173);
     
    
}
#page2 img{
    height: 100%;
    width: 30%;
    position: relative;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);

}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(225, 239, 98);
}

