* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

}
html, body{
    width: 100%;
    height: 100%;
}
#tabs{
    display: flex;
    gap: 20px;
    padding: 10px , 10px;
    /* justify-content: space-between; */

}
.tab{
    padding: 12px 22px;
    background-color: #dadada;
    border: 2px solid #dadada;
    border-radius: 4px;
}
h3{
    margin-top: 10px;
    width: 50%;
    display: none;
}